body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000000; */
}

html, body, #root {
  /* height: calc(100% - 3px); */
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

iframe {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}